Source: truckliststudio
Section: video
Priority: optional
Maintainer: Karl Ellis <soylent.tv@gmail.com>
Build-Depends: debhelper (>= 7.2.7~),
  cdbs (>= 0.4.69~),
  dkms (>= 2.1.1.1),
  devscripts,
  bzip2,
  subversion,
  linux-headers-generic,
  ant,
  openjdk-8-jdk | default-jdk,
  libcommons-cli-java,
  libcommons-codec-java,
  libcommons-httpclient-java,
  libcommons-lang3-java,
  libjsr305-java,
  liblog4j1.2-java,
  libnetty-java,
  libslf4j-java,
  junit
Standards-Version: 3.9.3
Homepage: http://sourceforge.net/projects/truckliststudio
Vcs-Svn: http://svn.code.sf.net/p/truckliststudio/svn/trunk
Vcs-Browser: http://sourceforge.net/p/truckliststudio/svn/HEAD/tree/

Package: truckliststudio
Architecture: amd64 i386
Depends: openjdk-8-jre | default-jre,
  java-wrappers,
  libcommons-cli-java,
  libcommons-codec-java,
  libcommons-httpclient-java,
  libcommons-lang3-java,
  libjsr305-java,
  liblog4j1.2-java,
  libnetty-java,
  libslf4j-java,
  ffmpeg | libav-tools,
  libavformat-extra-54 | libavformat56 | libavformat-ffmpeg56 | libavformat57 | libavformat58 | libavformat59,
  pavucontrol,
  pulseaudio-utils,
  zenity,
  wmctrl,
  ${shlibs:Depends},
  ${misc:Depends}
Recommends: ,
  ${shlibs:Recommends}
Suggests: ffmpeg | ffmpeg-real,
  ${shlibs:Suggests}
Description: TrucklistStudio is a fork from WebcamStudio software.
  It is only capable to handle Videos, Music, Picture and Text/Animated-Gifs Overlays. It can 
  Broadcast to almost every kind of services through FMEs XML configuration files.
  The Main goal is to have a light and stable media playlist broadcasting software.
